body
{
    background-image:url('grey_wash_wall.png');
    background-repeat:repeat;
    background-attachment:fixed;
} 

#header-menu{
    background: rgba(34, 34, 34, 0.7);
    width:75%;
    margin:10px 10px 50px 10px;
    text-align: left;
}
#header-menu a{
    color:#ffffff;
    text-decoration:none;
}
#header-menu ul{
    list-style:none;
    margin: 15% 5% 15% 35%;
    text-align: right;
}
#header-menu li{
    margin: 0 0 15px 0;
}


.header-title{
    font-size: 50pt;
    font-family:"Arial","Helvetica";
    color:#ffffff;
    padding-left:5%;
}

.bottom-menu{
    padding: 20px 0px 20px 0px;
    width:75%;
    background:rgba(34, 34, 34, 0.7);
}

.bottom-menu p{
    padding-left:5%;
    padding-right:2.5%;
    text-align:left;
    text-indent:1em;
    font-family: "LMMono10","Courier","American Typewriter";
}
.bottom-menu h1{
    font-family:"LMMono10","Courier","American Typewriter";
    text-align:left;
    padding-left:5%;
}

#title-cell{
    width:75%;
    text-align:center;
}

#content{
    width:70%;
    background:rgba(201,201,182,0.7);
    padding: 1% 1% 1% 1%;
    margin-bottom: 3%;
}
#content h1,h2,h3,h4{
    font-family:"Courier","American Typewriter";
    text-align:left;
    padding-left: 2em;
}
#content p, div, img{
    text-align:left;
    padding-left:2em;
    padding-right:2em;
    font-family:"Courier","American Typewriter";
}

.sublowermenu{
    width:33%;
    text-align:center;
}
.subtitle{
    color:#FFFFFF;
}

a.subtitle{
    color:#FFFFFF;
    text-decoration:none;
}
