<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Richard Fulop</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicons/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="images/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="images/favicons/manifest.json">
  <link rel="shortcut icon" href="images/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-TileImage" content="images/favicons/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
  <link rel="stylesheet" href="css/main.css?{{site.time | date: '%s%N'}}">
  <link rel="canonical" href="{% if page.canonical %}{{ page.canonical }}{% else %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <link rel="alternate" type="application/rss+xml" title="Richard Fulop" href="/feed.xml">
  <script src="https://kit.fontawesome.com/928be36974.js" crossorigin="anonymous"></script>
</head>

  <body>
      <span class="mobile btn-mobile-menu">
  <i class="fas fa-bars btn-mobile-menu__icon"></i>
  <i class="far fa-times-circle btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover" style="background-image: url(assets/background.jpg)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a href="/" title="link to home of the site">
          <img src="assets/profile.jpg" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">Richard Fulop</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">Modern cloud data engineer working at Free Market Health</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">

          <nav class="cover-navigation navigation--social">
            <ul class="navigation">

              <!-- LinkedIn -->
              <li class="navigation__item">
                <a href="https://www.linkedin.com/in/richard-fulop" title=" on LinkedIn" target="_blank">
                  <!--<i class="icon icon-social-linkedin"></i>-->
                  <i class="fab fa-linkedin fa-lg"></i>
                  <span class="label">LinkedIn</span>
                </a>
              </li>

              <!-- GitHub -->
              <li class="navigation__item">
                <a href="https://www.github.com/richiebful" title="@richiebful on GitHub" target="_blank">
                  <!--<i class="icon icon-social-github"></i>-->
                  <i class="fab fa-github fa-lg"></i>
                  <span class="label">GitHub</span>
                </a>
              </li>

              <!-- Email -->
              <li class="navigation__item">
                <a href="mailto:mail+website@richardfulop.com" title="Email mail+website@richardfulop.com" target="_blank">
                  <!--<i class="icon icon-mail"></i>-->
                  <i class="fas fa-envelope fa-lg"></i>
                  <span class="label">Email</span>
                </a>
              </li>

            </ul>
          </nav>
          
          <!--<nav class="cover-navigation cover-navigation--primary">-->
          <nav class="cover-navigation navigation--social">
            <ul class="navigation">
              <!--<li class="navigation__item"><a href="https://www.thomas-zuehlke.de" title="link to Blog"><i class="fas fa-link fa-lg"></i>&nbsp;Blog</a></li>-->
              <!--<li class="navigation__item"><a href="blog" class="panel-button projects-button"><i class="fas fa-file-code fa-lg"></i>&nbsp;Blog</a></li>-->
              <li class="navigation__item"><a href="#resume" class="panel-button projects-button"><i class="fas fa-file-code fa-lg"></i>&nbsp;Resume</a></li>
            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>


    <div class="content-wrapper">
        <div class="content-wrapper__inner">
           <ul class="timeline">
          <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-me" src="assets/fmh_thumbnail.png" alt="Free Market Health logo">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Data Engineer at Free Market Health</h4>
          </div>
          <div class="timeline-body">
              
          </div>
          </div>
          </li>
          <li class="timeline-inverted">
              <div class="timeline-image">
                  <img class="img-me" src="assets/healthgrades_thumbnail.jpg" alt="Healthgrades Logo">
              </div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>Data Engineer at Healthgrades</h4>
                  </div>
                  <div class="timeline-body">
                      <ul>
                          <li>Developed self-service data mastering solution for data stewards using Python</li>
                          <li>Refactored homegrown PowerPoint generator into .NET Core Blazor app, reducing maintenance load</li>
                          <li>Maintained successful operation of hospital ratings and awards with SSIS and C</li>
                      </ul>
                  </div>
              </div>
          </li>
          <li class="timeline-inverted">
              <div class="timeline-image">
                  <img class="img-me" src="assets/intalere_thumbnail.jpg" alt="Intalere Logo">
              </div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>Data Engineer at Intalere</h4>
                  </div>
                  <div class="timeline-body">
                      <ul>
                          <li>Led the integration of Dynamics CRM system with on-premise data warehouse, applications using SSIS</li>
                          <li>Designed and implemented data mart integrations for sales performance reporting</li>
                          <li>Built cost-study analytics pipeline for sales reps using PySpark and Azure Data Factory</li>
                          <li>Designed and wrote a rules engine for price catalog master data management with Python</li>
                      </ul>
                  </div>
              </div>
          </li>
    </ul>


        </div>
        

      <footer class="footer">
          <span class="footer__copyright">&copy; 2022 Richard Fulop. All rights reserved.</span>
      </footer>

      <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script type="text/javascript" src="js/github_api.js"></script>

    </div>
  </body>
</html>
