<header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">{{site.en.toolbar.main}}</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                        <a class="nav-link" href="/">{{site.en.toolbar.about}}</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="/blog">{{site.en.toolbar.blog}}</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="/">{{site.en.toolbar.portfolio}}</a>
                                </li>
                                <li class="nav-item ml-auto">
                                        <a class="nav-link" href="/ru/index.html">
                                                <img class="flag" alt="Russian Flag, click to see the Russian version of the website" src="/assets/flag-rossii.svg" width="25"
                                                />
                                        </a>
                                </li>
                        </ul>
                </div>
        </nav>
</header>