<header class="site-header">

        <div class="header">Richard Fulop</div>

        <ul id="primary-nav-wrap">
                <li>
                        <a href="/">About</a>
                </li>
                <li>
                        <a href="/blog.html">Blog</a>
                </li>
                <li>
                        <a href="/portfolio.html">Portfolio</a>
                </li>
                <li>
                        <a href="/ru/index.html">
                                <img class="flag" alt="Russian Flag, click to see the Russian version of the website" src="/assets/flag-rossii.svg" width="25"
                                />
                        </a>
                </li>
        </ul>

</header>