<header class="site-header">

        <div class="header">Ричард Фулоп</div>

        <ul id="primary-nav-wrap">
                <li>
                        <a href="/">Обо мне</a>
                </li>
                <li>
                        <a href="/ru/blog.html">Блог</a>
                </li>
                <li>
                        <a href="/ru/portfolio.html">Portfolio</a>
                </li>
                <li>
                        <a href="/index.html">
                                <img class="flag" alt="American Flag, click to see the english version of the website" src="/assets/flag-usa.svg" width="25"
                                />
                        </a>
                </li>
        </ul>

</header>