<header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <a class="navbar-brand" href="#">Ричард Фулоп</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                        <a class="nav-link" href="/ru/index.html">Обо мне</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="/ru/blog.html">Блог</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="/ru/portfolio.html">Проекты</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="/ru/index.html">
                                                <img class="flag" alt="American Flag, click to see the english version of the website" src="/assets/flag-usa.svg" width="25"
                                />
                                        </a>
                                </li>
                        </ul>
                </div>
        </nav>
</header>